@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    list-style:none;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'DM Serif Display', serif;
}
.hidden{
    display: none;
}
/*clock*/
#clock{
    display: block;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    margin-top: 1rem;
}
/*greeting*/
#greeting {
    font-style:italic;
    font-size: 4rem;
}
/*login*/
#login-form{  
    margin: 0 auto;
}
#login-form h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.4);
    border: 0.5px solid #ffffff;
    width: 500px;
    border-radius: 0.2em;
    margin: 0 auto;
  }
  
  #login-form input:first-child {
    font-size: 24px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    border: 0.5px solid #ffffff;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    color: #fff;
    border-radius: 0.2em;
  }
#login-form input::placeholder {
    color: #fff;
}
#login-form input:last-child{
    margin: auto;
    font-size: 1.2rem;
    display: flex;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
    color: #ffffff;
}
#login-form input:focus {
    outline: none;
}
/*todo*/
#todo-form input{
    display: flex;
    margin: 0 auto;
    background: transparent;
    border: 0;
    border-bottom: solid;
    width: 23rem;
    font-size: 1.2rem;
    margin-top: 1rem;
}
#todo-form input:focus {
    outline: none;
}
#todo-form input::placeholder {
    color: #ffffff;
}
/*todo-list*/
#todo-list{
    font-family: 'Noto Sans KR', sans-serif;
    width: 25rem;
    height: 10rem;
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    overflow-y: scroll;
    border: #fff 1px dashed;
    margin-top: 1rem;
    padding: 1rem;
}
#todo-list li{
    text-align: left;
    line-height: 2.4rem;
}
.todo-btn{
    background: transparent;
    border: 0;
}
#todo-list li>span::before{
    content:"❄ ";
}

/*quotes*/
#quote{
    position: absolute;
    left: 0; right: 0; bottom: 3%;
    line-height: 1.6rem;
    
    font-style: italic;
}
#quote span:last-child{
    display: block;
    font-size: 1.2rem;
}
/*weather*/
#weather {
    text-align: right;
    margin: 1rem 1rem 0 0;
}
#weather span:last-child{
    display: block;
    text-align: right;
}
/*snow*/
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
  }
/*scroll*/
.scr{
    overflow-y: hidden;
}
.scr::-webkit-scrollbar{
    width: 10px;
}
.scr::-webkit-scrollbar-thumb{
    height: 20%;
    border-radius: 5px;
    background-color:#9d0000;
}
.scr::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.5);
}

/*media*/
@media (max-width:768px){
    #greeting {
        font-size: 3rem;
    }
}
@media (max-width:552px){
    #greeting{
        font-size: 2rem;
    }
}